<div class="w-full h-full flex flex-col items-center py-4">
  <div class="w-full px-2 lg:w-[80%] lg:px-0 flex-1">
    <div
      class="bg-highLightHover rounded shadow w-full py-6 px-4 mb-4 text-desktopSubTitle font-bold text-white leading-10"
    >
      <div>
        按下購買後請轉帳到 {{ remittance?.bankCode }} -
        {{ remittance?.account }}
      </div>
      <div>並且按下「會員頭像」前往「購物清單」將該筆資料切換成「已匯款」</div>
    </div>
    <div
      class="grid-cols-[repeat(24,minmax(0,_1fr))] gap-2 mb-2.5 items-center bg-[#fafffe] p-4 rounded-md shadow hidden lg:grid"
    >
      <app-checkbox
        [checked]="
          cartItems.length > 0 && selectedCartItem.length === cartItems.length
        "
        (checkedChange)="onSelectAllCartItem($event, cartItems)"
      ></app-checkbox>

      <div class="col-span-11 font-bold">全選商品</div>
      <div class="col-span-3 font-bold text-center"></div>
      <div class="col-span-3 font-bold text-center"></div>
      <div class="col-span-4 font-bold text-center"></div>
      <div class="col-span-2 font-bold text-center"></div>
    </div>
    @for (cart of cartItems; track cart.cartId) {
      @if (responsive.getDeviceObservable() | async; as device) {
        <div
          class="rounded-md shadow overflow-hidden mx-3 mb-2 lg:mb-4 lg:mx-0"
        >
          @if (device.desktop) {
            <div
              class="bg-highLight py-2 grid grid-cols-[repeat(24,minmax(0,_1fr))] gap-2 items-center p-3 lg:p-4"
            >
              <app-checkbox
                [checked]="selectedCartItem.includes(cart)"
                (checkedChange)="onSelectCartItem($event, cart)"
              ></app-checkbox>
              <div class="col-[2_/_span_21]"></div>
              <div class="col-span-2 text-center">
                <button
                  mat-mini-fab
                  (click)="cart.cartId && onRemoveCartItem(cart.cartId)"
                >
                  <mat-icon class="text-white">delete</mat-icon>
                </button>
              </div>
            </div>
            <div class="bg-white p-4">
              <div
                class="grid grid-cols-[repeat(24,minmax(0,_1fr))] gap-2 items-center"
              >
                <div class="col-span-12 flex items-center gap-2">
                  <img
                    class="w-[80px] aspect-square object-cover"
                    appFirebaseImgUrl
                    [imgUrl]="cart.crystal.image_url"
                  />
                  <div class="font-bold h-full line-clamp-2">
                    {{ cart.crystal.name }}
                  </div>
                </div>

                <div class="flex flex-col col-span-8">
                  @for (emphasize of cart.crystal.emphasizes; track $index) {
                    <div>{{ emphasize }}</div>
                  }
                </div>
                <div class="flex items-center justify-center col-span-4">
                  {{ cart.crystal.price | twCurrency }}
                </div>
              </div>
              <app-divider>必選款式</app-divider>
              @for (
                accessoryCartItem of cart.mandatoryAccessories;
                track accessoryCartItem.accessory.id
              ) {
                <app-accessory-cart-item
                  [desktop]="device.desktop"
                  [accessoryCartItem]="accessoryCartItem"
                ></app-accessory-cart-item>
              }
              @if (cart.optionalAccessories.length) {
                <app-divider>加購款式</app-divider>
                @for (
                  accessoryCartItem of cart.optionalAccessories;
                  track accessoryCartItem.accessory.id
                ) {
                  <app-accessory-cart-item
                    [desktop]="device.desktop"
                    [accessoryCartItem]="accessoryCartItem"
                  ></app-accessory-cart-item>
                }
              }
              @if (cart.pendantAccessories.length) {
                <app-divider>吊飾/隨意扣</app-divider>
                @for (
                  accessoryCartItem of cart.pendantAccessories;
                  track accessoryCartItem.accessory.id
                ) {
                  <app-accessory-cart-item
                    [desktop]="device.desktop"
                    [accessoryCartItem]="accessoryCartItem"
                  ></app-accessory-cart-item>
                }
              }
            </div>
            <div
              class="bg-highLight flex w-full justify-end items-center py-4 px-5"
            >
              <div class="h-12 w-[120px] mx-1 border-r border-white px-3">
                <app-count-handler
                  [quantity]="cart.quantity"
                  (quantityChange)="
                    cart.cartId && updateQuantity(cart.cartId, $event)
                  "
                  containerStyles="border-white"
                ></app-count-handler>
              </div>
              <span class="text-desktopSubTitle px-3">
                {{ cart.itemPrice * cart.quantity | twCurrency }}</span
              >
            </div>
          } @else {
            <div
              class="bg-highLight py-2 flex justify-between p-3 items-center"
            >
              <app-checkbox
                [checked]="selectedCartItem.includes(cart)"
                (checkedChange)="onSelectCartItem($event, cart)"
              ></app-checkbox>
              <div class="col-span-2 text-center">
                <button
                  mat-mini-fab
                  (click)="cart.cartId && onRemoveCartItem(cart.cartId)"
                >
                  <mat-icon class="text-white">delete</mat-icon>
                </button>
              </div>
            </div>
            <div class="bg-white p-3">
              <label class="flex items-center gap-2">
                <div class="flex flex-col flex-1">
                  <div class="flex items-center gap-1">
                    <div class="w-[80px] flex-none">
                      <img
                        class="w-full h-full aspect-square object-cover"
                        appFirebaseImgUrl
                        [imgUrl]="cart.crystal.image_url"
                      />
                    </div>
                    <div class="flex-1 h-full">
                      <div
                        class="font-bold h-full line-clamp-2 text-mobileSubTitle lg:text-desktopSubTitle"
                      >
                        {{ cart.crystal.name }}
                      </div>
                      <div>
                        {{ cart.crystal.price | twCurrency }}
                      </div>
                    </div>
                  </div>

                  <app-divider>必選款式</app-divider>
                  @for (
                    accessoryCartItem of cart.mandatoryAccessories;
                    track accessoryCartItem.accessory.id
                  ) {
                    <app-accessory-cart-item
                      [desktop]="device.desktop"
                      [accessoryCartItem]="accessoryCartItem"
                    ></app-accessory-cart-item>
                  }
                  @if (cart.optionalAccessories.length) {
                    <app-divider>加購款式</app-divider>
                    @for (
                      accessoryCartItem of cart.optionalAccessories;
                      track accessoryCartItem.accessory.id
                    ) {
                      <app-accessory-cart-item
                        [desktop]="device.desktop"
                        [accessoryCartItem]="accessoryCartItem"
                      ></app-accessory-cart-item>
                    }
                  }
                  @if (cart.pendantAccessories.length) {
                    <app-divider>吊飾/隨意扣</app-divider>
                    @for (
                      accessoryCartItem of cart.pendantAccessories;
                      track accessoryCartItem.accessory.id
                    ) {
                      <app-accessory-cart-item
                        [desktop]="device.desktop"
                        [accessoryCartItem]="accessoryCartItem"
                      ></app-accessory-cart-item>
                    }
                  }
                </div>
              </label>
            </div>
            <div
              class="bg-highLight flex w-full justify-end items-center py-2 px-3"
            >
              <div class="h-12 w-[120px] mx-1 border-r border-white px-3">
                <app-count-handler
                  [quantity]="cart.quantity"
                  (quantityChange)="
                    cart.cartId && updateQuantity(cart.cartId, $event)
                  "
                  containerStyles="border-white"
                ></app-count-handler>
              </div>
              <span class="text-mobileSubTitle px-3">
                {{ cart.itemPrice * cart.quantity | twCurrency }}</span
              >
            </div>
          }
        </div>
      }
    }
  </div>
</div>

<footer
  class="fixed h-[100px] w-full bottom-0 left-0 right-0 px-10 bg-primary border-t border-highLight"
>
  <div class="flex items-center justify-between w-full h-full">
    <div>{{ getSelectedTotalPrices() | twCurrency }}</div>
    <button
      class="bg-highLight hover:bg-highLightHover border rounded-sm py-2 px-8 text-white"
    >
      購買
    </button>
  </div>
</footer>

<ng-template
  #showDiscount
  let-crystalAccessoryPrice="crystalAccessoryPrice"
  let-discount="discount"
>
  @if (discount > 0) {
    {{ crystalAccessoryPrice | twCurrency }} -
    {{ discount | twCurrency }}
  } @else {
    {{ crystalAccessoryPrice | twCurrency }}
  }
</ng-template>
