<div class="w-full h-full flex flex-col items-center py-4">
  @switch (shoppingStatus()) {
    @case (Status.Cart) {
      <div class="w-full px-2 sm:w-[80%] sm:px-0 flex-1">
        <div
          class="grid-cols-[repeat(24,minmax(0,_1fr))] gap-2 mb-2.5 items-center bg-[#fafffe] p-4 rounded-md shadow hidden sm:grid"
        >
          <app-checkbox
            [checked]="
              cartItems.length > 0 &&
              selectedCartItem.length === cartItems.length
            "
            (checkedChange)="onSelectAllCartItem($event, cartItems)"
          ></app-checkbox>

          <div class="col-span-11 font-bold">全選商品</div>
          <div class="col-span-3 font-bold text-center"></div>
          <div class="col-span-3 font-bold text-center"></div>
          <div class="col-span-4 font-bold text-center"></div>
          <div class="col-span-2 font-bold text-center"></div>
        </div>
        @for (cart of cartItems; track cart.cartId) {
          @if (responsive.getDeviceObservable() | async; as device) {
            <div
              class="rounded-md bg-white shadow overflow-hidden mx-3 mb-2 sm:mb-4 sm:mx-0"
            >
              @if (device.desktop) {
                <app-desktop-cart-item
                  [cart]="cart"
                  [checked]="selectedCartItem().includes(cart)"
                  (select)="onSelectCartItem($event, cart)"
                  (remove)="onRemoveCartItem($event)"
                  (updateQuantity)="
                    updateQuantity($event.cartId, $event.quantity)
                  "
                ></app-desktop-cart-item>
              } @else {
                <app-mobile-cart-item
                  [cart]="cart"
                  [checked]="selectedCartItem().includes(cart)"
                  (select)="onSelectCartItem($event, cart)"
                  (remove)="onRemoveCartItem($event)"
                  (updateQuantity)="
                    updateQuantity($event.cartId, $event.quantity)
                  "
                ></app-mobile-cart-item>
              }
            </div>
          }
        }

        @if (cartItems.length > 0) {
          <div class="flex items-center justify-end gap-2 w-full my-4">
            <div>{{ selectedItemSum() | twCurrency }}</div>
            <button
              [disabled]="selectedCartItem().length === 0"
              class="bg-highLight hover:bg-highLightHover border rounded-sm py-2 px-8 text-white disabled:opacity-30 disabled:cursor-not-allowed"
              (click)="onCheckout()"
            >
              去買單
            </button>
          </div>
        } @else {
          <div class="text-center text-gray-500">
            尚無商品，請去『款式選擇』選購商品！
          </div>
        }
      </div>
    }
    @case (Status.Checkout) {
      <form
        #recipientForm="ngForm"
        class="w-full px-2 sm:w-[60%] sm:px-0 flex-1"
      >
        @if (remittance) {
          <app-recipient-information
            type="goToPage"
          ></app-recipient-information>
          <app-remittance-information
            [prices]="prices()"
            [totalAmount]="selectedItemSum()"
            [remittance]="remittance"
            [touched]="touched"
            (deliveryFeeChange)="onDeliveryFeeChange($event)"
          ></app-remittance-information>
        }
        @for (cart of selectedCartItem(); track cart.cartId) {
          @if (cart.cartId) {
            @if (responsive.getDeviceObservable() | async; as device) {
              <div class="bg-white mb-2 sm:mb-4 sm:mx-0 rounded-md">
                <app-expanded-cart-layout
                  (showContentChange)="updateShowDetail(cart.cartId, $event)"
                  #show
                >
                  <div
                    display
                    class="bg-primary text-[#996251] px-4 py-3 flex items-center justify-between sm:text-desktopSubTitle"
                  >
                    <div>{{ cart.crystal.name }}</div>
                    <div>
                      {{
                        cart.prices.discountPrice * cart.quantity | twCurrency
                      }}
                    </div>
                  </div>
                  <div
                    content
                    class="rounded-br-md rounded-bl-md overflow-hidden"
                  >
                    @if (device.desktop) {
                      <app-desktop-cart-item
                        [showCheckbox]="false"
                        [showTextQuantity]="true"
                        [cart]="cart"
                      ></app-desktop-cart-item>
                    } @else {
                      <app-mobile-cart-item
                        [showCheckbox]="false"
                        [showTextQuantity]="true"
                        [cart]="cart"
                      ></app-mobile-cart-item>
                    }
                  </div>
                  <div toggle>
                    <div
                      class="w-full flex flex-col justify-center items-center bg-primary text-highLight cursor-pointer py-1 text-mobileSmall sm:text-desktopSmall"
                    >
                      <div>
                        {{
                          showDetail()[cart.cartId] ? "隱藏明細" : "顯示明細"
                        }}
                      </div>
                      <mat-icon class="!m-0">{{
                        showDetail()[cart.cartId]
                          ? "keyboard_double_arrow_up"
                          : "keyboard_double_arrow_down"
                      }}</mat-icon>
                    </div>
                  </div>
                </app-expanded-cart-layout>
              </div>
            }
          }
        }

        <div class="bg-white shadow-md rounded-lg p-4 sm:p-6 my-4">
          <h2 class="text-xl font-bold text-gray-800 mb-4">訂單總結</h2>

          <div class="flex flex-col items-end mb-4">
            <app-total-price
              [itemPrice]="selectedItemSum()"
              [deliveryFee]="
                selectedItemSum() > prices().freeTransportation
                  ? 0
                  : deliveryFee()
              "
            ></app-total-price>
          </div>

          <div class="flex flex-col sm:flex-row gap-4">
            <button
              class="flex-1 bg-gray-300 hover:bg-gray-400 text-gray-800 font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300 ease-in-out"
            >
              取消
            </button>
            <button
              class="flex-1 bg-highLight hover:bg-highLightHover text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline transition duration-300 ease-in-out disabled:opacity-50 disabled:cursor-not-allowed"
              disabled
            >
              下訂單
            </button>
          </div>
        </div>
      </form>
    }
  }
</div>
