@if (crystalAccessory) {
  <div class="flex flex-col border rounded shadow w-full h-full bg-white">
    <div class="flex-none">
      @if (tempImage) {
        <img
          appFirebaseImgUrl
          [src]="tempImage"
          class="aspect-square w-full border-b"
        />
      } @else {
        <img
          appFirebaseImgUrl
          [imgUrl]="crystalAccessory.image_url"
          class="aspect-square w-full border-b"
        />
      }
    </div>
    <div class="font-bold border-b px-4 py-2 text-[20px] flex-none">
      {{ crystalAccessory.name }}
    </div>
    <div class="border-b px-4 py-2 flex-1">
      @for (item of crystalAccessory.descriptions; track $index) {
        <div>{{ item }}</div>
      }
    </div>
    <div class="font-bold px-4 py-2 flex-none">
      NT$ {{ crystalAccessory.price }}
    </div>
  </div>
}
