<div class="w-full h-full flex justify-center py-5">
  <div class="w-[90%] sm:w-[80%]">
    <app-recipient-information></app-recipient-information>
    @for (record of cartRecords(); track record.recordId) {
      @if (record.recordId) {
        <div class="bg-white my-4">
          <app-expanded-cart-layout
            (showContentChange)="onUpdateShowDetail(record.recordId, $event)"
            containerStyles="flex flex-col-reverse"
          >
            <div content class="overflow-hidden bg-gray-100">
              @for (item of record.cartItems; track $index) {
                @if (device(); as res) {
                  @if (res.desktop) {
                    <app-desktop-cart-item
                      [showCheckbox]="false"
                      [showTextQuantity]="true"
                      [cart]="item"
                    ></app-desktop-cart-item>
                  } @else {
                    <app-mobile-cart-item
                      [showCheckbox]="false"
                      [showTextQuantity]="true"
                      [cart]="item"
                    ></app-mobile-cart-item>
                  }
                }
                <hr class="border-gray-600" />
              }
              <app-extra-buy [hasBox]="record.wantsBox"></app-extra-buy>
              <hr class="border-gray-600" />
              <div class="flex flex-col items-end m-4">
                <app-total-price
                  [itemPrice]="record.prices.itemsPrice"
                  [deliveryFee]="record.prices.deliveryFee"
                  [boxPrice]="record.prices.boxPrice"
                ></app-total-price>
              </div>
            </div>
            <div
              toggle
              class="flex flex-col sm:flex-row justify-between sm:items-center px-4 py-2 bg-primary cursor-pointer gap-y-2"
            >
              <div class="sm:text-desktopSubTitle text-mobileSubTitle flex">
                <span>{{ record.recordId }} </span>
                <span class="sm:block hidden">
                  - {{ record.prices.totalPrice | twCurrency }}
                </span>
              </div>
              <div class="sm:hidden block">
                {{ record.prices.totalPrice | twCurrency }}
              </div>
              <div
                class="flex gap-2 sm:text-desktopContent text-mobileContent w-full sm:w-auto justify-end"
              >
                <mat-icon>receipt_long</mat-icon>
                <div>
                  {{
                    showDetail()[record.recordId]
                      ? "隱藏購物明細"
                      : "顯示購物明細"
                  }}
                </div>
              </div>
            </div>
          </app-expanded-cart-layout>
          <div class="flex max-sm:flex-col gap-1 border-b">
            <div class="flex-1 px-4 py-2">
              <app-remittance-info-display
                [remittance]="record.remittance"
              ></app-remittance-info-display>
            </div>
            @if (record.wearer) {
              <div class="flex-1 px-4 py-2">
                <app-wearer-info-display
                  [wearer]="record.wearer"
                ></app-wearer-info-display>
              </div>
            }
          </div>
          <div class="px-4 py-2 border-b">
            <app-remittance-state
              [remittance]="record.remittance"
              [remittanceStates]="record.remittanceStates"
              [totalPrices]="record.prices.totalPrice"
              (update)="
                onUpdateCartRecordRemittanceState(record.recordId, $event)
              "
            ></app-remittance-state>
          </div>
          <div class="px-4 py-2 border-b flex flex-col gap-1">
            <div class="font-bold">
              訂單狀態：{{ CartFeedbackStateMap[record.feedback.state] }}
            </div>
            @if (record.feedback.reason) {
              <div>Novus對你說：</div>
              <p class="px-4">{{ record.feedback.reason }}</p>
            }
          </div>
        </div>
      }
    }
  </div>
</div>
