<div class="bg-white rounded-lg shadow-md px-4 py-3 space-y-2 relative">
  @if (loading$ | async) {
    <div
      class="w-full h-full flex items-center justify-center py-10 flex-1 absolute top-0 left-0 z-10 bg-white"
    >
      <mat-spinner></mat-spinner>
    </div>
  }

  <div class="flex flex-col gap-1.5">
    <div class="font-bold">介紹</div>
    <textarea
      matInput
      rows="10"
      [(ngModel)]="introduction"
      class="px-2 py-1.5 border rounded-sm"
    ></textarea>
  </div>
  <div class="flex justify-end my-2">
    <button mat-stroked-button color="primary" (click)="update()">更新</button>
  </div>
</div>
