<div
  class="rounded-md bg-white min-h-[95%] py-2 px-4 overflow-auto flex flex-col"
>
  <mat-tab-group (selectedTabChange)="onUpdateTab($event)">
    <mat-tab label="女性" class="w-full h-full">
      @for (crystal of healthCrystals; track $index) {
        <app-updated-card [crystal]="crystal"></app-updated-card>
      }
    </mat-tab>
    <mat-tab label="男性"> Content 2 </mat-tab>
  </mat-tab-group>
  @if (loading$ | async) {
    <div class="w-full h-full flex items-center justify-center flex-1">
      <mat-spinner></mat-spinner>
    </div>
  }
</div>
