<div class="h-full flex flex-col">
  <div
    class="h-mobileFullScreen sm:h-desktopFullScreen w-full relative overflow-hidden flex items-center justify-center bg-primary md:bg-gradient-to-br from-[#f6e8d7] via-[#fcdccb] to-[#dce2f0]"
  >
    <div class="max-w-[1386px] relative flex h-full">
      <div class="w-full h-full absolute">
        <div
          class="w-[70%] h-[120%] absolute -left-4 md:-left-[100px] bottom-0"
        >
          <img src="assets/images/rect3.png" alt="" class="w-full h-full" />
        </div>
      </div>

      <div
        class="flex-1 h-full flex flex-col p-6 rounded-[16px] text-[#7a4e3f] z-50 relative min-w-[340px]"
      >
        <div class="md:absolute z-20">
          <div class="text-[36px] md:text-[46px] leading-snug font-bold">
            生命密碼
          </div>
          <div class="border-b-2 border-[#d39c8b] w-[150px]"></div>
          <div
            class="text-mobileContent sm:text-desktopSubTitle tracking-wider mt-4 leading-8 md:leading-10 md:whitespace-nowrap"
          >
            可以讓妳了解未來<br />
            知道將會面臨什麼挑戰<br />
            會有好與壞的能量影響<br />
            同時也會了解到自己需要去面對的課題！<br />
            知道自己的優點再加上水晶磁場能量對症下藥<br />
            補齊欠缺的能量、放大自己的優點<br />
            更能利用自身特質<br />
            幫助自己<br />
            幫助別人<br />
            改善命運<br />
            改善現在生活<br />
            改善與家人伴侶之間的感情讓我們變得更好<br />
          </div>
        </div>
      </div>

      <div
        class="w-6/12 lg:w-2/3 hidden md:flex flex-col m-8 mt-14 max-w-[900px] gap-6 lg:gap-0"
      >
        <div
          class="h-1/3 lg:flex-1 w-full rounded-[50px] aspect-video overflow-hidden"
        >
          <img src="assets/images/banner1.jpg" alt="" class="w-full h-full" />
        </div>
        <div
          class="h-2/3 lg:flex-1 flex lg:items-center gap-6 justify-between lg:flex-row flex-col"
        >
          <div
            class="flex-1 rounded-[30px] overflow-hidden h-full max-h-[250px] min-w-[310px] z-20"
          >
            <img src="assets/images/banner3.jpg" alt="" class="w-full h-full" />
          </div>
          <div
            class="flex-1 rounded-[30px] overflow-hidden h-full max-h-[250px] min-w-[310px]"
          >
            <img src="assets/images/banner2.jpg" alt="" class="w-full h-full" />
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="flex flex-col gap-3 items-center justify-center my-14">
    <a
      routerLink="/select-life-type"
      class="bg-[#282d27] text-white font-bold py-4 px-12 rounded-[60px] flex items-center justify-center cursor-pointer border shadow"
    >
      訂製專屬生命密碼手鍊
    </a>
    <a
      routerLink="/user-info-form"
      class="bg-[#282d27] text-white font-bold py-4 px-12 rounded-[60px] flex items-center justify-center cursor-pointer border shadow"
    >
      對現階段和未來迷茫該如何選擇?
    </a>
  </div>

  <div class="grid grid-cols-1 sm:grid-cols-2 mx-4 sm:mx-10 gap-4 h-auto">
    <div
      class="h-full relative rounded-2xl bg-transparent px-4 pt-4 pb-8 shadow-lg border-4 border-double border-highLight"
    >
      <div class="flex flex-col w-full h-full">
        <div
          class="text-mobileTitle sm:text-desktopTitle leading-snug font-bold text-center"
        >
          注意事項
        </div>
        <div class="text-mobileSubTitle sm:text-desktopSubTitle text-center">
          生命密碼手鍊是完全依照你最需要的能量、數字進行搭配<br />
          <span class="text-red-400">宗旨是製作最能幫助到你的手鍊</span>
        </div>
        <ul class="flex flex-col mt-2 w-full h-full">
          <li class="flex sm:items-center gap-0.5">
            <mat-icon
              fontIcon="priority_high"
              class="text-yellow-400 flex-none"
            ></mat-icon>
            <span
              >生命密碼的顏色是由老師配色，因為每一個人需要的能量對應顏色、數字不同</span
            >
          </li>
          <li class="flex sm:items-center gap-0.5">
            <mat-icon
              fontIcon="priority_high"
              class="text-yellow-400 flex-none"
            ></mat-icon>
            <span class="font-bold text-red-400">無法選擇顏色及更換顏色</span>
          </li>
          <li class="flex sm:items-center gap-0.5">
            <mat-icon
              fontIcon="priority_high"
              class="text-yellow-400 flex-none"
            ></mat-icon>
            <span>需付款完成才會請老師製作</span>
          </li>
          <li class="flex sm:items-center gap-0.5">
            <mat-icon
              fontIcon="priority_high"
              class="text-yellow-400 flex-none"
            ></mat-icon>
            <span>生命密碼手鍊不做退換貨，如會擔心手鍊色系不喜歡請勿下單</span>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="h-full relative rounded-2xl bg-transparent px-4 pt-4 pb-8 shadow-lg border-4 border-double border-highLight"
    >
      <div class="flex flex-col w-full h-full">
        <div
          class="text-mobileTitle sm:text-desktopTitle leading-snug font-bold text-center"
        >
          關於我們
        </div>
        <div class="flex flex-col w-full">
          <div class="text-mobileSubTitle sm:text-desktopSubTitle text-center">
            我們是專業的水晶手鍊店家
          </div>
          <div
            class="flex flex-col sm:flex-row gap-2 sm:gap-6 justify-center items-center tracking-wider"
          >
            <div>
              <ul class="mt-2">
                <li>🌟擁有25年以上的資歷🌟</li>
                <li>🌟親自出國挑選高品質水晶🌟</li>
                <li>🌟擁有豐富的搭配經驗🌟</li>
              </ul>
            </div>
            <div>
              <ul class="mt-2">
                <li>🔆收到無數回饋和好評🔆</li>
                <li>🔆IG有近四萬追蹤🔆</li>
                <li>🔆臉書社團有近兩萬會員🔆</li>
              </ul>
            </div>
          </div>
          <div class="mt-4 text-center">
            已製作上千條手鍊<br />
            客人配戴後都感受到很大的改變 <br />
            為生活迎來全新的開始 <br />
          </div>
        </div>
        <div class="absolute right-2 bottom-1 italic">
          Novus晶礦人生x紋君堡石坊
        </div>
      </div>
    </div>
  </div>

  <div class="flex w-full h-[140px] relative my-6">
    <div
      class="absolute w-[300%] h-full bg-secondary -translate-x-1/2 border border-primary bg-primary"
    ></div>
    <app-contact-us-links></app-contact-us-links>
  </div>

  <div class="w-full">
    <div class="flex flex-col p-6 mt-5">
      <div
        class="text-mobileTitle sm:text-desktopTitle font-bold mb-4 text-[#b26e5a] text-center"
      >
        無數好評回饋！
      </div>
      <div class="w-full mb-8 px-2 sm:px-6">
        <div class="flex flex-col my-1.5">
          <span
            class="text-mobileSubTitle sm:text-desktopSubTitle text-highLightHover font-bold"
            >帶來財運</span
          >
        </div>
        <app-slide-show
          [gallery]="LUCKY_FILES"
          [subArrayLength]="subArrayLength$ | async"
        >
        </app-slide-show>
      </div>
    </div>
    <div class="flex p-6 mt-5 items-end">
      <div class="w-full mb-8 px-2 sm:px-6">
        <div class="flex flex-col my-1.5">
          <span
            class="text-mobileSubTitle sm:text-desktopSubTitle text-highLightHover font-bold"
            >帶來幸福</span
          >
        </div>
        <app-slide-show
          [gallery]="HAPPINESS_FILES"
          [subArrayLength]="subArrayLength$ | async"
        >
        </app-slide-show>
      </div>
    </div>
    <div class="flex p-6 mt-5 items-end">
      <div class="w-full mb-8 px-2 sm:px-6">
        <div class="flex flex-col my-1.5">
          <span
            class="text-mobileSubTitle sm:text-desktopSubTitle text-highLightHover font-bold"
            >帶來事業運</span
          >
        </div>
        <app-slide-show
          [gallery]="CAREER_FILES"
          [subArrayLength]="subArrayLength$ | async"
        >
        </app-slide-show>
      </div>
    </div>
  </div>
</div>
