<div class="flex flex-col p-10">
  <div class="flex">
    <div class="flex-1">
      <div
        class="text-[20px] leading-[24px] w-auto h-full flex text-center items-center justify-center mx-auto"
      >
        生命密碼可以讓妳了解未來<br />知道將會面臨什麼挑戰<br />會有好與壞的能量影響<br />
        同時也會了解到自己需要去面對的課題！<br />
        知道自己的優點再加上水晶磁場能量對症下藥<br />補齊欠缺的能量、放大自己的優點<br />
        更能利用自身特質<br />幫助自己<br />幫助別人<br />改善命運<br />改善現在生活
        改善與家人伴侶之間的感情<br />讓我們變得更好<br />
      </div>
    </div>
    <div class="w-[40%] h-[600px] bg-orange-200"></div>
  </div>
  <div class="w-full flex flex-col items-center my-10">
    <div class="font-bold text-lg">生命密碼注意事項</div>
    <div class="text-center">
      生命密碼的顏色是由老師配色<br />因為每一個人需要的能量對應顏色、數字不同<br />「無法選擇顏色及更換顏色」<br />
      需付款完成才會請老師製作<br />
      製作完成會拍照給後寄出<br />
      生命密碼手鍊不做退換貨，如會擔心手鍊色系不喜歡請勿下單
    </div>
  </div>
  <div class="w-full flex items-start justify-between gap-5">
    <div class="flex-1 bg-blue-200 h-80"></div>
    <div class="flex-1 bg-blue-200 h-64"></div>
    <div class="flex-1 bg-blue-200 h-72"></div>
  </div>
</div>
<div
  class="flex w-full items-center justify-center text-center bg-[#fffcf3] p-8"
>
  我們是一家專業的水晶手鍊店家<br />擁有20年以上的製作經驗<br />
  我們以親自出國挑選高品質的水晶為特色 並且我們擁有豐富的搭配經驗<br />
  已經為客人製作上千條手鍊<br />尤其我們的老師是擁有豐富經驗的專業人士<br />
  搭配出的手鍊深受客人喜愛<br />並且在配戴後都會有感受到不同的變化<br />
  我們一直以來都致力於提供客人最好的產品和服務<br />
  讓每一位客人都能擁有最適合自己的水晶手鍊<br />
</div>
