<div class="h-full flex flex-col">
  <div class="h-[80vh] w-full relative bg-primary overflow-hidden">
    <!-- <img
      src="assets/images/banner2.jpg"
      alt=""
      class="w-[800px] aspect-video rounded-[50px] absolute left-0 bottom-0"
    /> -->

    <div class="w-full h-full absolute">
      <div class="w-[70%] h-[120%] absolute -left-[100px] bottom-0 blur-sm">
        <img src="assets/images/rect3.png" alt="" class="w-full h-full" />
      </div>

      <div class="w-[70%] h-full absolute -right-[100px]">
        <img src="assets/images/rect1.png" alt="" class="w-full h-full" />
      </div>
    </div>

    <div
      class="absolute flex flex-col bottom-4 p-6 left-[1%] rounded-[16px] text-white z-10"
    >
      <div class="text-[46px] leading-snug font-bold">生命密碼</div>
      <div class="border-b-2 border-white-400 w-[150px]"></div>
      <div class="text-[20px] leading-[30px] tracking-wider ml-12 mt-4">
        可以讓妳了解未來<br />
        知道將會面臨什麼挑戰<br />
        會有好與壞的能量影響<br />
        同時也會了解到自己需要去面對的課題！<br />
        知道自己的優點再加上水晶磁場能量對症下藥<br />
        補齊欠缺的能量、放大自己的優點<br />
        更能利用自身特質<br />
        幫助自己<br />
        幫助別人<br />
        改善命運<br />
        改善現在生活<br />
        改善與家人伴侶之間的感情讓我們變得更好<br />
      </div>
    </div>
  </div>

  <div class="flex items-center justify-center my-14">
    <div
      class="bg-[#282d27] text-white font-bold py-4 px-12 rounded-[60px] flex items-center justify-center cursor-pointer text-[18px] border shadow"
    >
      開始測量
    </div>
  </div>

  <div class="flex justify-between mx-10 gap-4">
    <div
      class="h-full relative flex rounded-2xl bg-transparent flex-1 p-4 shadow-lg border-4 border-double border-primary"
    >
      <div class="flex flex-col w-full">
        <div class="text-[46px] leading-snug font-bold">注意事項</div>
        <div class="text-[22px]">
          生命密碼手鍊是完全依照你最需要的能量、數字進行搭配，宗旨是製作最能幫助到你的手鍊。
        </div>
        <ul
          class="text-[18px] leading-[30px] tracking-wider flex flex-col mt-2 w-full h-full"
        >
          <li class="flex items-center gap-0.5">
            <mat-icon
              fontIcon="priority_high"
              class="text-yellow-400"
            ></mat-icon>
            <span
              >生命密碼的顏色是由老師配色，因為每一個人需要的能量對應顏色、數字不同</span
            >
          </li>
          <li class="flex items-center gap-0.5">
            <mat-icon
              fontIcon="priority_high"
              class="text-yellow-400"
            ></mat-icon>
            <span class="font-bold text-red-400">無法選擇顏色及更換顏色</span>
          </li>
          <li class="flex items-center gap-0.5">
            <mat-icon
              fontIcon="priority_high"
              class="text-yellow-400"
            ></mat-icon>
            <span>需付款完成才會請老師製作</span>
          </li>
          <li class="flex items-center gap-0.5">
            <mat-icon
              fontIcon="priority_high"
              class="text-yellow-400"
            ></mat-icon>
            <span>生命密碼手鍊不做退換貨，如會擔心手鍊色系不喜歡請勿下單</span>
          </li>
        </ul>
      </div>
    </div>
    <div
      class="h-full relative flex rounded-2xl bg-transparent flex-1 p-4 shadow-lg border-4 border-double border-primary"
    >
      <div class="flex w-full">
        <div class="writing-vertical text-[46px] leading-snug font-bold">
          關於我們
        </div>
        <div class="flex flex-col w-full">
          <div class="flex gap-4">
            <div class="w-full flex-1">
              <div class="text-[22px]">我們是專業的水晶手鍊店家</div>
              <ul class="text-[18px] leading-[30px] tracking-wider mt-2">
                <li>🌟擁有25年以上的資歷🌟</li>
                <li>🌟親自出國挑選高品質水晶🌟</li>
                <li>🌟擁有豐富的搭配經驗🌟</li>
              </ul>
            </div>
            <div class="flex-1">
              <div class="text-[22px]">深受客人喜愛</div>
              <ul class="text-[18px] leading-[30px] tracking-wider mt-2">
                <li>🔆收到無數回饋和好評🔆</li>
                <li>🔆IG有近四萬追蹤🔆</li>
                <li>🔆臉書社團有近兩萬會員🔆</li>
              </ul>
            </div>
          </div>
          <div class="mt-4 text-[20px]">
            老師已製作上千條手鍊，客人配戴後都感受到很大的改變，為生活迎來全新的開始，致力於提供客人最好的能量和水晶手鍊。<br />
          </div>
        </div>
        <div class="absolute right-2 bottom-1 italic">
          Novus晶礦人生x紋君堡石坊
        </div>
      </div>
    </div>
  </div>

  <div class="flex w-full h-[140px] relative my-6">
    <div
      class="absolute w-[300%] h-full bg-secondary -translate-x-1/2 border border-primary"
    ></div>
    <div class="w-full h-full flex justify-center items-center gap-16 z-10">
      <a
        class="w-10 h-10 rounded-full bg-[url('assets/logo/Facebook_Logo_Primary.png')] bg-no-repeat bg-center bg-contain cursor-pointer"
        href="https://www.facebook.com/groups/251334975285975"
      ></a>
      <a
        class="w-10 h-10 rounded-full bg-[url('assets/logo/Instagram_Glyph_Gradient.png')] bg-no-repeat bg-center bg-contain cursor-pointer"
        href="https://www.instagram.com/novus_crystal_life/"
      ></a>
      <a
        class="w-10 h-10 rounded-full bg-[url('assets/logo/youtube_social_icon_red.png')] bg-no-repeat bg-center bg-contain cursor-pointer"
        href="https://www.youtube.com/@novus5113"
      ></a>
      <a
        class="w-10 h-10 rounded-full bg-[url('assets/logo/Podcasts_Logo.png')] bg-no-repeat bg-center bg-contain cursor-pointer"
        href="https://reurl.cc/KAnbry"
      ></a>
    </div>
  </div>

  <div class="w-full">
    <div class="flex p-6 mt-5 items-end">
      <div class="w-full mb-8 mx-6">
        <app-slide-show
          [gallery]="[
            { id: '1', content: '/assets/images/feedback1.jpg' },
            { id: '2', content: '/assets/images/feedback2.jpg' },
            { id: '3', content: '/assets/images/feedback3.jpg' },
            { id: '4', content: '/assets/images/feedback4.jpg' },
            { id: '5', content: '/assets/images/feedback5.jpg' },
            { id: '6', content: '/assets/images/feedback6.jpg' },
            { id: '7', content: '/assets/images/feedback7.jpg' },
            { id: '8', content: '/assets/images/feedback8.jpg' },
            { id: '9', content: '/assets/images/feedback9.jpg' }
          ]"
        >
        </app-slide-show>
      </div>
    </div>
    <div class="flex p-6 mt-5 items-end">
      <div class="w-full mb-8 mx-6">
        <app-slide-show
          type="IMAGE_CARD"
          [gallery]="[
            { id: '1', content: '/assets/images/share1.jpg' },
            { id: '2', content: '/assets/images/share2.jpg' },
            { id: '3', content: '/assets/images/share3.jpg' },
            { id: '4', content: '/assets/images/share4.jpg' },
            { id: '5', content: '/assets/images/share5.jpg' },
            { id: '6', content: '/assets/images/share6.jpg' }
          ]"
          [subArrayLength]="3"
        >
        </app-slide-show>
      </div>
    </div>
  </div>
</div>
