<div class="flex w-full h-full overflow-hidden">
  <nav
    class="w-[250px] h-full shadow-[0px_0px_10px_2px_rgba(0,0,0,0.1)] z-10 relative flex flex-col"
  >
    <div class="w-full h-full flex-1 overflow-auto">
      @for (item of ROUTER_LINKS; track item.text) {
        @if (!item.children) {
          <a
            [routerLink]="item.link"
            class="flex desktopSubTitle px-4 py-2 gap-2 items-center hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
          >
            <mat-icon class="!w-[28px] !h-[28px] text-[28px]">{{
              item.icon
            }}</mat-icon>
            <span>{{ item.text }}</span>
          </a>
        } @else {
          <app-expanding-button
            [text]="item.text"
            [icon]="item.icon"
            iconStyles="!w-[26px] !h-[26px] text-[26px]"
            containerStyle="desktopSubTitle px-4 py-2"
          >
            <div class="flex flex-col gap-1">
              @for (child of item.children; track child.text) {
                <a
                  [routerLink]="child.link"
                  class="flex desktopSubTitle px-4 py-2 gap-2 text-left hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
                  routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
                >
                  {{ child.text }}
                </a>
              }
            </div>
          </app-expanding-button>
        }
      }
    </div>

    @if (myAccount(); as account) {
      <div
        class="flex-none bottom-0 flex items-center justify-between p-5 w-full border-t"
      >
        <span>{{ account.name }}</span>
        <button mat-stroked-button color="primary" (click)="onLogout()">
          登出
        </button>
      </div>
    }
  </nav>
  <div class="flex-1 bg-gray-50 p-4 overflow-auto text-desktopContent">
    <router-outlet></router-outlet>
  </div>
</div>
