<div class="flex w-full h-full overflow-hidden">
  <nav
    class="w-[250px] h-full shadow-[0px_0px_10px_2px_rgba(0,0,0,0.1)] z-10 relative flex flex-col"
  >
    <div class="w-full h-full flex-1 overflow-auto">
      <a
        routerLink="admin-account"
        class="flex desktopSubTitle px-4 py-2 gap-2 items-center hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
        routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
      >
        <mat-icon class="!w-[28px] !h-[28px] text-[28px]"
          >shield_person</mat-icon
        >
        <span>ADMIN帳號</span>
      </a>
      <a
        routerLink="user-list"
        class="flex desktopSubTitle px-4 py-2 gap-2 items-center hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
        routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
      >
        <mat-icon class="!w-[28px] !h-[28px] text-[28px]">group</mat-icon>
        <span>會員列表</span>
      </a>

      <app-expanding-button
        text="編輯提示"
        icon="edit"
        iconStyles="!w-[26px] !h-[26px] text-[26px]"
        containerStyle="desktopSubTitle px-4 py-2"
      >
        <div class="flex flex-col gap-1">
          <a
            [routerLink]="['update', 'life-passcode']"
            class="flex desktopSubTitle px-4 py-2 gap-2 text-left hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
          >
            更新生命密碼
          </a>
          <a
            [routerLink]="['update', 'id-calculation']"
            class="flex desktopSubTitle px-4 py-2 gap-2 text-left hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
          >
            更新身分證推算
          </a>
        </div>
      </app-expanding-button>

      <app-expanding-button
        text="編輯產品資訊"
        icon="edit"
        iconStyles="!w-[26px] !h-[26px] text-[26px]"
        containerStyle="desktopSubTitle px-4 py-2"
      >
        <div class="flex flex-col gap-1">
          <a
            [routerLink]="['update', 'crystals', LifeType.Health]"
            class="flex desktopSubTitle px-4 py-2 gap-2 text-left hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
          >
            更新生命力款式
          </a>
          <a
            [routerLink]="['update', 'crystals', LifeType.Wealth]"
            class="flex desktopSubTitle px-4 py-2 gap-2 text-left hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
          >
            更新財富款式
          </a>
          <a
            [routerLink]="['update', 'crystals', LifeType.Friend]"
            class="flex desktopSubTitle px-4 py-2 gap-2 text-left hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
          >
            更新貴人款式
          </a>
        </div>
      </app-expanding-button>

      <app-expanding-button
        text="編輯吊飾資訊"
        icon="edit"
        iconStyles="!w-[26px] !h-[26px] text-[26px]"
        containerStyle="desktopSubTitle px-4 py-2"
      >
        <div class="flex flex-col gap-1">
          <a
            [routerLink]="[
              'update',
              'accessories',
              CrystalPendantType.Satellite
            ]"
            class="flex desktopSubTitle px-4 py-2 gap-2 text-left hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
          >
            更新大衛星
          </a>
          <a
            [routerLink]="['update', 'accessories', CrystalPendantType.Sliver]"
            class="flex desktopSubTitle px-4 py-2 gap-2 text-left hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
          >
            更新銀吊飾
          </a>
          <a
            [routerLink]="['update', 'accessories', CrystalPendantType.Gold]"
            class="flex desktopSubTitle px-4 py-2 gap-2 text-left hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
          >
            更新注金吊飾
          </a>
          <a
            [routerLink]="[
              'update',
              'accessories',
              CrystalMythicalBeastType.BraveTroops
            ]"
            class="flex desktopSubTitle px-4 py-2 gap-2 text-left hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
          >
            更新貔貅
          </a>
          <a
            [routerLink]="[
              'update',
              'accessories',
              CrystalMythicalBeastType.CuteFox
            ]"
            class="flex desktopSubTitle px-4 py-2 gap-2 text-left hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
          >
            更新萌狐
          </a>
          <a
            [routerLink]="[
              'update',
              'accessories',
              CrystalMythicalBeastType.NineTails
            ]"
            class="flex desktopSubTitle px-4 py-2 gap-2 text-left hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
          >
            更新九尾狐
          </a>
        </div>
      </app-expanding-button>

      <app-expanding-button
        text="編輯推算表單"
        icon="edit"
        iconStyles="!w-[26px] !h-[26px] text-[26px]"
        containerStyle="desktopSubTitle px-4 py-2"
      >
        <div class="flex flex-col gap-1">
          <a
            [routerLink]="['update', 'form', 'faq']"
            class="flex desktopSubTitle px-4 py-2 gap-2 text-left hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
          >
            更新FAQ
          </a>
          <a
            [routerLink]="['update', 'form', 'clean-flow']"
            class="flex desktopSubTitle px-4 py-2 gap-2 text-left hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
          >
            更新淨化流程
          </a>
          <a
            [routerLink]="['update', 'form', 'introduction']"
            class="flex desktopSubTitle px-4 py-2 gap-2 text-left hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
            routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
          >
            更新介紹
          </a>
        </div>
      </app-expanding-button>

      <a
        routerLink="update/remittance"
        class="flex desktopSubTitle px-4 py-2 gap-2 items-center hover:bg-[#e9f5fe] hover:text-[#6db8f2] cursor-pointer"
        routerLinkActive="underline underline-offset-8 decoration-2 decoration-[#6db8f2]"
      >
        <mat-icon class="!w-[28px] !h-[28px] text-[28px]">edit</mat-icon>
        <span>更新匯款帳號</span>
      </a>
    </div>

    @if (myAccount$ | async; as account) {
      <div
        class="flex-none bottom-0 flex items-center justify-between p-5 w-full border-t"
      >
        <span>{{ account.name }}</span>
        <button mat-stroked-button color="primary" (click)="onLogout()">
          登出
        </button>
      </div>
    }
  </nav>
  <div class="flex-1 bg-gray-50 p-4 overflow-auto text-desktopContent">
    <router-outlet></router-outlet>
  </div>
</div>
