@if (crystalForm) {
  <div
    class="rounded-md border shadow-md relative overflow-x-hidden flex flex-col"
    (click)="this.showPreview.set(false)"
  >
    <div
      class="h-14 bg-[#6674c4] flex-none flex items-center justify-between px-2"
    >
      <div class="text-white">{{ crystal?.name }}</div>
      <div class="flex gap-2 h-10">
        <button
          class="shadow px-2 rounded hover:bg-red-600 bg-red-500 text-white flex items-center justify-center"
          (click)="onOpenDeletedDialog()"
        >
          <mat-icon>delete</mat-icon>
        </button>
        <button
          class="bg-green-500 hover:bg-green-600 shadow px-2 rounded text-white font-bold"
          (click)="onRedo()"
        >
          復原
        </button>
        <button
          class="bg-blue-600 hover:bg-blue-700 shadow px-2 rounded text-white font-bold"
          (click)="onSubmit()"
        >
          更新
        </button>
        <button
          class="bg-orange-400 hover:bg-orange-500 shadow px-2 rounded text-white font-bold"
          (click)="onPreview($event)"
        >
          預覽
        </button>
      </div>
    </div>
    <form [formGroup]="crystalForm" class="w-full p-4">
      <div class="flex w-full items-center gap-2 my-8">
        <div
          class="w-40 h-44 border border-gray-300 rounded-md flex items-center justify-center"
        >
          @if (this.tempImage) {
            <img
              [src]="this.tempImage"
              alt="Product Image"
              class="w-full h-full"
            />
          } @else if (this.crystalForm.value.image_url) {
            <img
              appFirebaseImgUrl
              [imgUrl]="this.crystalForm.value.image_url"
              alt="Product Image"
              class="w-full h-full"
            />
          } @else {
            尚無圖片
          }
        </div>
        <div class="flex gap-4 flex-col items-start">
          <label
            class="whitespace-nowrap border border-gray-200 hover:bg-gray-200 rounded-lg px-4 py-2 cursor-pointer w-auto"
          >
            <input
              type="file"
              class="appearance-none hidden"
              #file
              multiple="false"
              accept="image/*"
              (change)="onUploadImage(file.files)"
            />
            <div>上傳圖片</div>
          </label>
          <div class="text-red-600 whitespace-nowrap">
            注意：按下『更新』後，圖片才會正式上傳
          </div>
        </div>
      </div>

      <div>
        <app-divider containerStyles="bg-[#6674c4] text-[#6674c4] text-lg"
          >基本資料</app-divider
        >
        <div class="flex w-full gap-4">
          <mat-form-field appearance="outline" class="!w-[300px]">
            <mat-label>水晶名稱</mat-label>
            <input matInput formControlName="name" />
          </mat-form-field>
        </div>
        <div class="flex w-full gap-4">
          <mat-form-field appearance="outline">
            <mat-label>價格</mat-label>
            <input matInput formControlName="price" />
          </mat-form-field>
          <mat-form-field appearance="outline">
            <mat-label>神獸折扣</mat-label>
            <input matInput formControlName="accessoryDiscount" />
          </mat-form-field>
        </div>
      </div>

      <div formArrayName="descriptions" class="flex flex-col my-2">
        <app-divider containerStyles="bg-[#6674c4] text-[#6674c4] text-lg"
          >描述</app-divider
        >
        @for (description of descriptions.controls; track description) {
          <div class="w-full gap-2 flex my-1">
            <mat-form-field appearance="outline" class="flex-1">
              <mat-label>描述 {{ $index + 1 }}</mat-label>
              <input matInput [formControlName]="$index" />
            </mat-form-field>
            <button
              class="shadow px-2 my-0.5 aspect-square rounded bg-red-500 hover:bg-red-700 h-[52px] text-white flex items-center justify-center"
              (click)="onDeleteField(descriptions, $index)"
            >
              <mat-icon class="!text-[30px] !h-[30px] !w-[30px]"
                >close</mat-icon
              >
            </button>
          </div>
        }
        <div
          class="border border-dashed border-gray-300 flex gap-1 items-center justify-center py-3 cursor-pointer hover:bg-gray-100"
          (click)="onAddNewField(descriptions)"
        >
          <mat-icon>add</mat-icon>
          <span>新增</span>
        </div>
      </div>

      <div formArrayName="emphasizes" class="flex flex-col my-2">
        <app-divider containerStyles="bg-[#6674c4] text-[#6674c4] text-lg"
          >強調</app-divider
        >
        @for (emphasize of emphasizes.controls; track emphasize) {
          <div class="w-full gap-2 flex my-1">
            <mat-form-field appearance="outline" class="flex-1">
              <mat-label>強調 {{ $index + 1 }}</mat-label>
              <input matInput [formControlName]="$index" />
            </mat-form-field>
            <button
              class="shadow px-2 my-0.5 aspect-square rounded bg-red-500 hover:bg-red-700 h-[52px] text-white flex items-center justify-center"
              (click)="onDeleteField(emphasizes, $index)"
            >
              <mat-icon class="!text-[30px] !h-[30px] !w-[30px]"
                >close</mat-icon
              >
            </button>
          </div>
        }
        <div
          class="border border-dashed border-gray-300 flex gap-1 items-center justify-center py-3 cursor-pointer hover:bg-gray-100"
          (click)="onAddNewField(emphasizes)"
        >
          <mat-icon>add</mat-icon>
          <span>新增</span>
        </div>
      </div>

      <div class="flex flex-col my-2">
        <app-divider containerStyles="bg-[#6674c4] text-[#6674c4] text-lg"
          >內容物</app-divider
        >
        @for (content of contents.controls; track content; let index = $index) {
          <div class="my-2 flex flex-col">
            <div class="w-full gap-2 flex my-1">
              <mat-form-field
                appearance="outline"
                formArrayName="contents"
                class="flex-1"
              >
                <mat-label>內容物 {{ index + 1 }}</mat-label>
                <input matInput [formControlName]="index" />
              </mat-form-field>
              <button
                class="shadow px-2 my-0.5 aspect-square rounded bg-red-500 hover:bg-red-700 h-[52px] text-white flex items-center justify-center"
                (click)="
                  onDeleteField(descriptions, index);
                  onDeleteField(contentNotes, index)
                "
              >
                <mat-icon class="!text-[30px] !h-[30px] !w-[30px]"
                  >close</mat-icon
                >
              </button>
            </div>

            @if (contentNotes.controls[index]) {
              <mat-form-field appearance="outline" formArrayName="contentNotes">
                <mat-label>內容物補充 {{ index + 1 }}</mat-label>
                <input matInput [formControlName]="index" />
              </mat-form-field>
            }
          </div>
        }
        <div
          class="border border-dashed border-gray-300 flex gap-1 items-center justify-center py-3 cursor-pointer hover:bg-gray-100"
          (click)="onAddNewField(contents); onAddNewField(contentNotes)"
        >
          <mat-icon>add</mat-icon>
          <span>新增</span>
        </div>
      </div>
      <div formArrayName="contentWarnings" class="flex flex-col my-2">
        <app-divider containerStyles="bg-[#6674c4] text-lg text-[#6674c4]"
          >內容物警告</app-divider
        >
        @for (warning of contentWarnings.controls; track warning) {
          <div class="w-full gap-2 flex my-1">
            <mat-form-field appearance="outline" class="flex-1">
              <mat-label>內容物警告 {{ $index + 1 }}</mat-label>
              <input matInput [formControlName]="$index" />
            </mat-form-field>

            <button
              class="shadow px-2 my-0.5 aspect-square rounded bg-red-500 hover:bg-red-700 h-[52px] text-white flex items-center justify-center"
              (click)="onDeleteField(contentWarnings, $index)"
            >
              <mat-icon class="!text-[30px] !h-[30px] !w-[30px]"
                >close</mat-icon
              >
            </button>
          </div>
        }
        <div
          class="border border-dashed border-gray-300 flex gap-1 items-center justify-center py-3 cursor-pointer hover:bg-gray-100"
          (click)="onAddNewField(contentWarnings)"
        >
          <mat-icon>add</mat-icon>
          <span>新增</span>
        </div>
      </div>
    </form>

    @if (showPreview()) {
      <div
        class="absolute top-0 bottom-0 right-0 w-[60%] p-8 bg-white shadow-lg flex justify-center"
        (click)="$event.stopPropagation()"
        @slideInOut
      >
        <div class="w-[300px] min-h-[400px] overflow-hidden">
          <app-crystal-product-card
            [tempImage]="tempImage"
            [crystal]="this.crystalForm.value"
          ></app-crystal-product-card>
        </div>
      </div>
    }
  </div>
}
