<div class="flex flex-col h-full">
  <h2 mat-dialog-title>配件</h2>
  <div mat-dialog-content class="flex-1">
    @if (crystalAccessoryType$ | async; as types) {
      <mat-tab-group>
        @for (key of getTypeKeys(types); track $index) {
          <mat-tab [label]="key">
            <div
              class="grid grid-cols-[repeat(auto-fit,minmax(0,200px))] gap-2 py-2 px-4 items-center justify-center h-full"
            >
              @for (item of types?.[key]; track item.id) {
                <div
                  class="border border-slate-400 flex flex-col relative cursor-pointer"
                >
                  <div class="font-bold absolute top-1 left-1">
                    {{ item.name }}
                  </div>
                  <img
                    [src]="item.img"
                    class="aspect-square object-cover w-full"
                  />
                  <div class="font-bold absolute bottom-1 right-1">
                    NT$ {{ item.price }}
                  </div>
                </div>
              }
            </div>
          </mat-tab>
        }
      </mat-tab-group>
    }
  </div>
  <mat-dialog-actions [align]="'end'">
    <button mat-button mat-dialog-close>取消</button>
    <button mat-button mat-dialog-close>加購</button>
  </mat-dialog-actions>
</div>
