<div class="flex flex-col gap-4 pb-8">
  @for (record of sortedRequestRecords(); track record.id) {
    <div
      class="border border-gray-200 rounded shadow-sm overflow-hidden bg-white relative"
    >
      <div class="absolute top-2 right-2">
        <app-fortune-telling [userInfo]="record.querent"></app-fortune-telling>
      </div>
      <div class="flex flex-col justify-center px-4 py-4 border-b">
        <div>訂單編號：{{ record.id }}</div>
        <div>訂單日期：{{ record.createdAt | date: "YYYY/MM/dd HH:mm" }}</div>
      </div>

      <div class="flex flex-col justify-center px-4 py-4 border-b">
        <div>訂單金額：{{ record.prices.itemsPrice | twCurrency }}</div>
        <div>運費：{{ record.prices.deliveryFee | twCurrency }}</div>
        <div>訂單總金額：{{ record.prices.totalPrice | twCurrency }}</div>
      </div>

      <form
        #f="ngForm"
        novalidate
        class="border border-gray-200 rounded shadow-sm flex overflow-hidden"
      >
        <div class="w-full min-w-[300px] max-w-[400px] border-r">
          <app-request-record-card [record]="record"></app-request-record-card>
        </div>
        <div
          class="flex flex-col flex-1 relative my-2 space-y-2.5 overflow-hidden"
        >
          <div class="px-3 py-4">
            <div>客人付款狀態：</div>
            <div class="mx-4">
              @for (item of record.remittanceStates; track $index) {
                <div class="flex gap-2 item-center">
                  {{ item.updatedAt | date: "YYYY/MM/dd" }}
                  {{ item.bank.code }} - {{ item.bank.name }} -
                  {{ item.bank.account }}
                  {{ item.paid | twCurrency }}
                </div>
              } @empty {
                <div>暫無匯款</div>
              }
            </div>
          </div>
          <app-divider></app-divider>
          <div class="flex-1 relative my-2 mx-4 space-y-2.5 flex flex-col">
            <div class="flex items-center justify-between flex-wrap">
              <mat-button-toggle-group
                name="state"
                aria-label="表單狀態"
                [value]="record.feedback.state"
                (change)="updateFeedbackState(record, $event.value)"
              >
                <mat-button-toggle
                  [value]="FeedbackState.Init"
                  [disabled]="true"
                  >{{
                    CalculationFeedbackStateMap[FeedbackState.Init]
                  }}</mat-button-toggle
                >
                <mat-button-toggle [value]="FeedbackState.Pending">{{
                  CalculationFeedbackStateMap[FeedbackState.Pending]
                }}</mat-button-toggle>
                <mat-button-toggle [value]="FeedbackState.Confirmed">{{
                  CalculationFeedbackStateMap[FeedbackState.Confirmed]
                }}</mat-button-toggle>
                <mat-button-toggle [value]="FeedbackState.Rejected">{{
                  CalculationFeedbackStateMap[FeedbackState.Rejected]
                }}</mat-button-toggle>
              </mat-button-toggle-group>

              <div class="flex justify-end flex-none">
                <button
                  mat-raised-button
                  (click)="onSave(f, record)"
                  class="self-end !m-2"
                >
                  儲存
                </button>
              </div>
            </div>

            <mat-form-field class="w-full">
              <mat-label>狀態欄位備註</mat-label>
              <textarea
                name="reason"
                matInput
                rows="3"
                [ngModel]="record.feedback.reason"
                (ngModelChange)="updateFeedbackReason(record, $event)"
                [required]="record.feedback.state === FeedbackState.Rejected"
                [disabled]="record.feedback.state === FeedbackState.Init"
                #reasonModel="ngModel"
              ></textarea>
              @if (reasonModel.errors?.["required"]) {
                <mat-error>請填寫原因</mat-error>
              }
            </mat-form-field>
            <div class="overflow-auto h-full flex-1 max-h-[200px] py-3 px-1">
              @for (
                feedbackRecord of record.feedbackRecords
                  | sortBy: "createdAt" : false;
                track $index
              ) {
                <div class="flex gap-2">
                  <div class="flex-none">
                    {{ feedbackRecord.createdAt | date: "YYYY/MM/dd HH:mm" }}
                  </div>
                  <div class="flex-none">{{ feedbackRecord.updatedBy }}</div>
                  <div class="flex-none">
                    {{ CalculationFeedbackStateMap[feedbackRecord.state] }}
                  </div>
                  <div class="whitespace-nowrap">
                    {{ feedbackRecord.reason }}
                  </div>
                </div>
              }
            </div>
          </div>
        </div>
      </form>
    </div>
  }
</div>
