@if (crystal) {
  <div
    class="px-4 sm:px-8 my-2 flex flex-col sm:flex-row justify-between sm:items-center"
  >
    <button
      class="flex gap-1 items-center cursor-pointer p-2 rounded-md justify-start hover:bg-black hover:bg-opacity-10"
      (click)="onGoBack()"
    >
      <mat-icon class="sm:!w-[32px] sm:!h-[32px] sm:!text-[32px]"
        >chevron_left</mat-icon
      >
      <div class="font-bold py-2 text-mobileTitle sm:text-desktopTitle">
        {{ crystal.name }}
      </div>
    </button>
    <div class="text-mobileTitle sm:text-desktopTitle text-right">
      {{ crystal.price | twCurrency }}
    </div>
  </div>
  <div class="flex flex-col sm:flex-row w-full py-2">
    <!-- 圖片 -->
    <div
      class="w-[100%] sm:min-w-[400px] sm:max-w-[800px] sm:w-[50%] flex-none px-10"
    >
      <img
        appFirebaseImgUrl
        [imgUrl]="crystal.image_url"
        class="w-full aspect-[12/16]"
      />
    </div>

    <!-- 詳細介紹 -->
    <div class="flex flex-col flex-1 px-4 overflow-hidden">
      <div class="flex-1">
        @if (crystal.descriptions && crystal.descriptions.length > 0) {
          <div class="py-2 px-1 flex-1">
            <app-divider textStyles="px-2">生命密碼手鏈</app-divider>
            <ul class="ml-2">
              @for (description of crystal.descriptions; track $index) {
                <li>{{ description }}</li>
              }
            </ul>
          </div>
        }

        <!-- 強調 -->
        @if (crystal.emphasizes && crystal.emphasizes.length > 0) {
          <div class="py-2 px-1">
            <app-divider></app-divider>
            <ul class="ml-2">
              @for (emphasize of crystal.emphasizes; track $index) {
                <li>{{ emphasize }}</li>
              }
            </ul>
          </div>
        }

        <!-- 內容物 -->
        <div class="py-2 px-1">
          <app-divider textStyles="px-2">內容物</app-divider>
          <ul class="ml-2">
            @for (item of crystal.contents; track idx; let idx = $index) {
              @if (item) {
                <li class="flex justify-between">
                  <div class="flex items-center gap-1">
                    <mat-icon
                      fontIcon="pan_tool_alt"
                      class="rotate-90 text-[#fde5c8]"
                    />
                    <span>{{ item }}</span>
                  </div>
                  @if (
                    crystal.contentNotes.length > 0 && crystal.contentNotes[idx]
                  ) {
                    <mat-icon
                      fontIcon="info"
                      class="text-[#ababab] cursor-pointer"
                      [matTooltip]="crystal.contentNotes[idx]"
                      matTooltipPosition="above"
                      (click)="tooltip.toggle()"
                      #tooltip="matTooltip"
                    ></mat-icon>
                  }
                </li>
              }
            }

            @for (item of crystal.contentWarnings; track $index) {
              @if (item) {
                <li class="flex items-center gap-1">
                  <mat-icon
                    fontIcon="warning"
                    class="text-[#ffc41e] text-[20px]"
                  />
                  <span>{{ item }}</span>
                </li>
              }
            }
          </ul>
        </div>

        <!-- 必選區 -->
        @if ((crystal.mandatoryTypes || []).length > 0) {
          <div class="mt-4">
            <div
              class="flex items-center justify-between font-bold py-2 px-6 cursor-pointer text-white bg-highLight hover:bg-highLightHover border border-dashed border-gray-800 rounded"
              (click)="openMandatoryCrystalAccessoryDialog()"
            >
              <span class="text-mobileSubTitle sm:text-desktopSubTitle"
                >必選款式</span
              >
              <button>點擊新增/更新</button>
            </div>
            @if (
              showMandatoryError && mandatorySelectedAccessories.length === 0
            ) {
              <div class="text-red-500">請選擇必選款式</div>
            }
            @for (
              selected of mandatorySelectedAccessories;
              track selected.accessory.id
            ) {
              <div
                class="flex justify-between items-center px-2 w-full overflow-hidden my-2 gap-2"
              >
                <div class="flex-none">{{ selected.accessory.name }}</div>
                <app-dots containerStyles="mx-2"></app-dots>
                <div class="flex items-center gap-2 flex-none">
                  <div>{{ selected.accessory.price | twCurrency }}</div>
                  <div>X</div>
                  <div>{{ selected.quantity }}</div>
                  <div>=</div>
                  <div>
                    {{
                      selected.accessory.price * (selected.quantity || 1)
                        | twCurrency
                    }}
                  </div>
                </div>
              </div>
            }
            @if (this.mandatoryPriceText) {
              <app-divider></app-divider>
              <div
                class="flex justify-end items-center px-2 w-full overflow-hidden my-2"
              >
                總計: {{ this.mandatoryPriceText }}
              </div>
            }
          </div>
        }

        <!-- 加購區 -->
        @if ((crystal.optionalTypes || []).length > 0) {
          <div class="mt-4">
            <div
              class="flex items-center justify-between font-bold py-2 px-6 cursor-pointer text-white bg-highLight hover:bg-highLightHover border border-dashed border-gray-800 rounded"
              (click)="openOptionalCrystalAccessoryDialog()"
            >
              <span class="text-mobileSubTitle sm:text-desktopSubTitle"
                >加購神獸</span
              >
              <button>點擊新增/更新</button>
            </div>
            @for (
              selected of optionalSelectedAccessories;
              track selected.accessory.id
            ) {
              <div
                class="flex justify-between items-center px-2 w-full overflow-hidden my-2 gap-2"
              >
                <div class="flex-none">{{ selected.accessory.name }}</div>
                <app-dots containerStyles="mx-2"></app-dots>
                <div class="flex items-center gap-2 flex-none">
                  <div>{{ selected.accessory.price | twCurrency }}</div>
                  <div>X</div>
                  <div>{{ selected.quantity }}</div>
                  <div>=</div>
                  <div>
                    {{
                      selected.accessory.price * (selected.quantity || 1)
                        | twCurrency
                    }}
                  </div>
                </div>
              </div>
            }
            @if (this.optionalPriceText) {
              <app-divider></app-divider>
              <div
                class="flex justify-end items-center px-2 w-full overflow-hidden my-2"
              >
                總計: {{ this.optionalPriceText }}
              </div>
            }
          </div>
        }

        <!-- 隨意扣與吊飾區 -->
        @if ((crystal.pendantTypes || []).length > 0) {
          <div
            class="mt-4"
            [ngClass]="{
              'opacity-30 pointer-events-none':
                (crystal.pendantTypes || []).length === 0
            }"
          >
            <div
              class="flex items-center justify-between font-bold py-2 px-6 cursor-pointer text-white bg-highLight hover:bg-highLightHover border border-dashed border-gray-800 rounded"
              (click)="openPendantCrystalAccessoryDialog()"
            >
              <span class="text-mobileSubTitle sm:text-desktopSubTitle"
                >吊飾/隨意扣(神獸系列加收一百元工本費)</span
              >
              <button>點擊新增/更新</button>
            </div>
            @for (
              selected of pendantSelectedAccessories;
              track selected.accessory.id
            ) {
              <div
                class="flex justify-between items-center px-2 w-full overflow-hidden my-2 gap-2"
              >
                <div class="flex-none">{{ selected.accessory.name }}</div>
                <app-dots containerStyles="mx-2"></app-dots>
                <div class="flex items-center gap-2 flex-none">
                  <div>{{ selected.accessory.price | twCurrency }}</div>
                  <div>X</div>
                  <div>{{ selected.quantity }}</div>
                  <div>=</div>
                  <div>
                    {{
                      selected.accessory.price * (selected.quantity || 1)
                        | twCurrency
                    }}
                  </div>
                </div>
              </div>
            }
            @if (this.pendantPriceText) {
              <app-divider></app-divider>
              <div
                class="flex justify-end items-center px-2 w-full overflow-hidden my-2"
              >
                總計: {{ this.pendantPriceText }}
              </div>
            }
          </div>
        }

        <app-divider borderStyles="border-gray-600"></app-divider>
        <div class="flex items-center justify-between font-bold">
          <div>總計：</div>
          <div class="flex items-center gap-4">
            <div class="text-mobileSubTitle sm:text-desktopSubTitle">
              {{ this.totalPrice() | twCurrency }}
            </div>
            <app-count-handler
              containerStyles="w-[100px]"
              (quantityChange)="crystalQuantity.set($event)"
            ></app-count-handler>
          </div>
        </div>
      </div>
      <div class="flex items-center justify-end mt-10">
        <button
          appForceLogin
          (afterLoginClick)="onAddToCart()"
          class="bg-red-500 text-white rounded-md h-full w-auto px-7 py-3"
        >
          新增購物車
        </button>
      </div>
    </div>
  </div>
}
