<div class="w-full h-full flex justify-center py-5">
  <div class="w-[90%] lg:w-[80%]">
    <app-recipient-information></app-recipient-information>
    <div class="flex flex-col items-center gap-4 pb-5 my-4 h-full">
      @for (
        item of records$ | async | sortBy: "created" : false;
        track $index
      ) {
        @if (item.id) {
          <div class="w-full bg-white flex flex-col">
            <div class="flex flex-col justify-center px-4 py-4 border-b">
              <div>訂單編號：{{ item.recordTicket }}</div>
              <div>
                訂單日期：{{ item.createdAt | date: "YYYY/MM/dd HH:mm" }}
              </div>
              <div>訂單金額：{{ item.prices.totalPrice | twCurrency }}</div>
            </div>
            <div class="flex-1">
              <app-request-record-card
                [record]="item"
              ></app-request-record-card>
            </div>
            <div class="flex gap-2 items-center border-t p-4">
              <app-remittance-state
                [remittance]="item.remittance"
                [remittanceStates]="item.remittanceStates"
                [totalPrices]="item.prices.totalPrice || 500"
                (update)="
                  updateRequestRecord(
                    item.id || item.recordTicket,
                    $event.bank,
                    $event.money
                  )
                "
              ></app-remittance-state>
            </div>
            <div class="flex flex-col gap-2 border-t p-4">
              <div class="font-bold">
                訂單狀態：{{ CalculationFeedbackStateMap[item.feedback.state] }}
              </div>
              @if (item.feedback.reason) {
                <div>Novus對你說：</div>
                <p class="px-4">{{ item.feedback.reason }}</p>
              }
            </div>
          </div>
        }
      }
    </div>
  </div>
</div>
