@if (crystal) {
  <div
    class="shadow-lg bg-white h-full flex flex-col rounded overflow-hidden cursor-pointer"
    (click)="onGoToDetail()"
  >
    @if (tempImage) {
      <img [src]="tempImage" alt="Product Image" class="aspect-[5/6] w-full" />
    } @else {
      <img
        appFirebaseImgUrl
        [imgUrl]="crystal.image_url"
        alt="Product Image"
        class="aspect-[5/6] w-full"
      />
    }
    <div class="relative flex items-center justify-center w-full">
      <hr class="w-full border-[#d7e9f2]" />
      <div
        class="absolute rounded-full overflow-hidden w-8 h-8 bg-[url('/assets/logo/novus.jpg')] bg-no-repeat bg-center bg-contain border-2 border-[#c0deed] -translate-y-1"
      ></div>
    </div>
    <div
      class="font-bold text-mobileSubTitle lg:text-desktopSubTitle pt-3 px-1 pb-2"
    >
      {{ crystal.name }}
    </div>
    @if (crystal.descriptions && crystal.descriptions.length > 0) {
      <hr />
      <div class="py-2 px-1 flex-1">
        <span class="font-bold">生命密碼手練：</span>
        <ul class="ml-2">
          @for (description of crystal.descriptions; track $index) {
            <li>{{ description }}</li>
          }
        </ul>
      </div>
    }
    @if (crystal.emphasizes && crystal.emphasizes.length > 0) {
      <hr />
      <div class="py-2 px-1">
        <ul class="ml-2">
          @for (emphasize of crystal.emphasizes; track $index) {
            <li>{{ emphasize }}</li>
          }
        </ul>
      </div>
    }
    <hr />
    <div class="flex items-center justify-end px-4 py-2">
      <div class="font-bold">{{ crystal.price | twCurrency }}</div>
    </div>
  </div>
}
