@if (responsive.getDeviceObservable() | async; as device) {
  @if (device.desktop) {
    <div class="relative w-full h-full py-4">
      <div class="flex gap-4 p-4 justify-center mt-24">
        <div
          class="group relative hover:w-[40%] w-[20%] h-[480px] flex flex-col rounded-md shadow-md cursor-pointer overflow-hidden transition-all bg-[url('/assets/images/health.jpg')] bg-cover bg-no-repeat bg-center before:content-[''] before:absolute before:inset-0 before:block before:bg-gradient-to-b before:from-black before:via-slate-300 before:to-black before:opacity-0 hover:before:opacity-50 before:z-[-5] z-10"
        >
          <a
            class="absolute w-full h-full flex flex-col justify-between items-center"
            [routerLink]="['/crystals-showroom']"
            [queryParams]="{ type: LifeType.Health }"
          >
            <div
              class="text-white text-desktopSubTitle font-bold py-4 px-2 flex-none"
            >
              生命力
            </div>
            <button
              class="border-4 border-double border-[#585858] text-[#585858] group-hover:border-[#e6e6e6] group-hover:text-[#e6e6e6] rounded-lg px-4 py-2 my-9 flex-none"
            >
              前往選購
            </button>
            <div
              class="flex-1 w-auto flex flex-col p-2 text-white group-hover:visible invisible [text-shadow:_0_1px_5px_var(--tw-shadow-color)] shadow-neutral-900"
            >
              <ul>
                <li>要使生命更有韌性可以任何難關都打不倒、屹立不搖</li>
                <li>以及健康的身體、感情穩定、生活順利</li>
                <li>並加強獨當一面的力量</li>
                <li>使用生日數字來分析搭配</li>
              </ul>
            </div>
          </a>
        </div>
        <div
          class="group relative hover:w-[40%] w-[20%] h-[480px] flex flex-col rounded-md shadow-md cursor-pointer overflow-hidden transition-all bg-[url('/assets/images/relationship.jpg')] bg-cover bg-no-repeat bg-center before:content-[''] before:absolute before:inset-0 before:block before:bg-gradient-to-b before:from-black before:via-slate-300 before:to-black before:opacity-0 hover:before:opacity-50 before:z-[-5] z-10"
        >
          <a
            class="absolute w-full h-full flex flex-col justify-between items-center"
            [routerLink]="['/crystals-showroom']"
            [queryParams]="{ type: LifeType.Friend }"
          >
            <div class="text-white text-desktopSubTitle font-bold py-4 px-2">
              貴人
            </div>
            <button
              class="border-4 border-double border-[#585858] text-[#585858] group-hover:border-[#e6e6e6] group-hover:text-[#e6e6e6] rounded-lg px-4 py-2 my-9 flex-none"
            >
              前往選購
            </button>
            <div
              class="flex-1 w-auto flex flex-col p-2 text-white group-hover:visible invisible [text-shadow:_0_1px_5px_var(--tw-shadow-color)] shadow-neutral-900"
            >
              <ul>
                <li>人緣桃花</li>
                <li>以及危機化為轉機起死回生有新開始</li>
                <li>有時成功只差臨門一腳!</li>
                <li>就需要「貴人」出現來幫忙創造更多機會!</li>
                <li>*生日以外還會加上身分證的數字來分析</li>
              </ul>
            </div>
          </a>
        </div>
        <div
          class="group relative hover:w-[40%] w-[20%] h-[480px] flex flex-col rounded-md shadow-md cursor-pointer overflow-hidden transition-all bg-[url('/assets/images/wealth.jpg')] bg-cover bg-no-repeat bg-center before:content-[''] before:absolute before:inset-0 before:block before:bg-gradient-to-b before:from-black before:via-slate-300 before:to-black before:opacity-0 hover:before:opacity-50 before:z-[-5] z-10"
        >
          <a
            class="absolute w-full h-full flex flex-col justify-between items-center"
            [routerLink]="['/crystals-showroom']"
            [queryParams]="{ type: LifeType.Wealth }"
          >
            <div class="text-white text-desktopSubTitle font-bold py-4 px-2">
              財富
            </div>
            <button
              class="border-4 border-double border-[#585858] text-[#585858] group-hover:border-[#e6e6e6] group-hover:text-[#e6e6e6] rounded-lg px-4 py-2 my-9 flex-none"
            >
              前往選購
            </button>
            <div
              class="flex-1 w-auto flex flex-col p-2 text-white group-hover:visible invisible [text-shadow:_0_1px_5px_var(--tw-shadow-color)] shadow-neutral-900"
            >
              <ul>
                <li>智慧與決策力</li>
                <li>使自己做什麼都容易成功</li>
                <li>將勝利掌握在手</li>
                <li>*生日以外還會加上身分證的數字來分析</li>
              </ul>
            </div>
          </a>
        </div>
        <div
          class="group relative hover:w-[40%] w-[20%] h-[480px] flex flex-col rounded-md shadow-md cursor-pointer overflow-hidden transition-all bg-[url('/assets/images/how_to_choice.jpg')] bg-cover bg-no-repeat bg-center before:content-[''] before:absolute before:inset-0 before:block before:bg-gradient-to-b before:from-black before:via-slate-300 before:to-black before:opacity-0 hover:before:opacity-50 before:z-[-5] z-10"
        >
          <a
            class="absolute w-full h-full flex flex-col justify-between items-center"
            [routerLink]="['/user-info-form']"
          >
            <div class="text-white text-desktopSubTitle font-bold py-4 px-2">
              不知道該如何選擇？
            </div>
            <button
              class="border-4 border-double border-[#585858] text-[#585858] group-hover:border-[#e6e6e6] group-hover:text-[#e6e6e6] rounded-lg px-4 py-2 my-9 flex-none"
            >
              參加推算
            </button>
            <div
              class="flex-1 w-auto flex flex-col p-2 text-white group-hover:visible invisible [text-shadow:_0_1px_5px_var(--tw-shadow-color)] shadow-neutral-900"
            >
              <ul>
                <li>老師會幫您分析</li>
                <li>『現階段最適合』的生命密碼搭配</li>
                <li>告訴您比較容易遇上的小困難</li>
                <li>或者目前存在的優勢</li>
                <li>讓您得以更好的發揮😆</li>
              </ul>
            </div>

            <div class="flex-1"></div>
          </a>
        </div>
      </div>
    </div>
  } @else {
    <div class="relative w-full h-full py-4">
      <div class="flex flex-col items-center px-8 py-3 gap-6">
        <a
          class="w-full flex flex-col rounded-md shadow-md cursor-pointer bg-[url('/assets/images/health.jpg')] bg-cover bg-no-repeat bg-center p-6"
          [routerLink]="['/crystals-showroom']"
          [queryParams]="{ type: LifeType.Health }"
        >
          <div class="bg-white bg-opacity-60 rounded-md flex-1 p-2">
            <div class="text-mobileTitle font-bold flex-none">生命力</div>
            <div class="flex-1 w-auto flex flex-col p-2">
              <div class="text-mobileSubTitle font-semibold my-2">
                什麼是生命力？為什麼推生命力？ 以字面上來說生命力就是要
              </div>
              <ul>
                <li>✨有韌性✨</li>
                <li>✨任何難關都打不倒✨</li>
                <li>✨讓我們有健康的身體✨</li>
                <li>✨同時也讓生活順利✨</li>
                <li>✨人與人之間的相處感情穩定✨</li>
                <li>✨也希望能夠順順利利的能夠獨當一面✨</li>
              </ul>
            </div>
            <button
              class="flex justify-end w-full text-blue-600 py-1 px-2 text-mobileSubTitle italic"
            >
              前往選購 >
            </button>
          </div>
        </a>
        <a
          class="w-full flex flex-col rounded-md shadow-md cursor-pointer bg-[url('/assets/images/relationship.jpg')] bg-cover bg-no-repeat bg-center p-6"
          [routerLink]="['/crystals-showroom']"
          [queryParams]="{ type: LifeType.Friend }"
        >
          <div class="bg-white bg-opacity-60 rounded-md flex-1 p-2">
            <div class="text-mobileTitle font-bold flex-none">貴人</div>
            <div class="flex-1 w-auto flex flex-col p-2">
              <div class="text-mobileSubTitle font-semibold my-2">
                貴人的部分會加上身分證的數字來分析
              </div>
              <ul>
                <li>✨加強讓自己生命中能夠幫助自己的人能更多一點✨</li>
                <li>✨有時候差臨門一腳成功，就需要「貴人」出現來幫忙相助✨</li>
                <li>✨機會也是一樣貴人會幫助自己製造出機會喔! ✨</li>
              </ul>
            </div>
            <button
              class="flex justify-end w-full text-blue-600 py-1 px-2 text-mobileSubTitle italic"
            >
              前往選購 >
            </button>
          </div>
        </a>
        <a
          class="w-full flex flex-col rounded-md shadow-md cursor-pointer bg-[url('/assets/images/wealth.jpg')] bg-cover bg-no-repeat bg-center p-6"
          [routerLink]="['/crystals-showroom']"
          [queryParams]="{ type: LifeType.Friend }"
        >
          <div class="bg-white bg-opacity-60 rounded-md flex-1 p-2">
            <div class="text-mobileTitle font-bold flex-none">財富</div>
            <div class="flex-1 w-auto flex flex-col p-2">
              <div class="text-mobileSubTitle font-semibold my-4">
                生命財富手鍊<br />價格會比較高價<br />因為財富就是要補好補滿👍🏻<br />
                所以尺寸是生命手鍊裡最大的14mm
              </div>
              <ul>
                <li>✨水晶越大能量越強✨</li>
              </ul>
            </div>
            <button
              class="flex justify-end w-full text-blue-600 py-1 px-2 text-mobileSubTitle italic"
            >
              前往選購 >
            </button>
          </div>
        </a>
        <a
          class="w-full flex flex-col rounded-md shadow-md cursor-pointer bg-[url('/assets/images/how_to_choice.jpg')] bg-cover bg-no-repeat bg-center p-6"
          [routerLink]="['/user-info-form']"
          [queryParams]="{ type: LifeType.Friend }"
        >
          <div class="bg-white bg-opacity-60 rounded-md flex-1 p-2">
            <div class="text-mobileTitle font-bold flex-none">
              不知道該如何選擇？
            </div>
            <div class="flex-1 w-auto flex flex-col p-2">
              <div class="text-mobileSubTitle font-semibold my-4">
                老師會幫您分析<br />
                『現階段最適合』的生命密碼搭配<br />
                告訴您比較容易遇上的小困難,小麻煩<br />
                或者目前存在的優勢<br />
                讓您得以更好的發揮😆
              </div>
            </div>
            <button
              class="flex justify-end w-full text-blue-600 py-1 px-2 text-mobileSubTitle italic"
            >
              參加推算 >
            </button>
          </div>
        </a>
      </div>
    </div>
  }
}
