<div class="flex flex-col items-center w-full h-full">
  <div class="sm:w-[60%] sm:max-w-[400px] w-full flex-1">
    <div>
      @if (this.myAccount(); as myAccount) {
        <app-update-account
          [account]="myAccount"
          (afterUpdated)="onUpdated()"
        ></app-update-account>
      }
    </div>
  </div>

  <div class="grid grid-cols-3 gap-3 flex-none py-3">
    <a routerLink="/privacy-policy" class="text-blue-600">隱私政策</a>
    <a routerLink="/term-of-service" class="text-blue-600">服務條款</a>
    <a routerLink="/delete-account" class="text-blue-600">刪除帳號</a>
  </div>
</div>
