<div class="flex flex-col sm:flex-row w-full h-full">
  <div class="w-full sm:w-[300px] h-full flex flex-col px-4 gap-4">
    <div>
      <div class="font-bold mb-2 text-mobileSubTitle sm:text-desktopSubTitle">
        我是：
      </div>
      <div class="flex w-full justify-center">
        <app-gender-selection
          [gender]="gender"
          (genderChange)="onSelectGender($event)"
        ></app-gender-selection>
      </div>
    </div>

    <div>
      <div class="font-bold mb-2 text-mobileSubTitle sm:text-desktopSubTitle">
        我想尋找:
      </div>
      <div class="flex gap-2 h-[80px]">
        <label
          class="rounded-lg cursor-pointer shadow-md border text-[#494949] hover:border-[#2260ff] relative group flex-1 flex items-center justify-center"
          [ngClass]="
            healthCheck.checked ? 'border-[#2260ff]' : 'border-[#b5bfd9]'
          "
        >
          <div
            class="absolute w-5 h-5 rounded-full border-2 top-1 left-1 scale-0 opacity-0 transition-all group-hover:scale-100 group-hover:opacity-100 flex items-center justify-center"
            [ngClass]="
              healthCheck.checked
                ? 'bg-[#2260ff] text-white border-[#2260ff] scale-100 opacity-100'
                : 'border-[#b5bfd9]'
            "
          >
            {{ healthCheck.checked ? "✓" : "" }}
          </div>
          <div>生命力</div>
          <input
            type="checkbox"
            class="hidden appearance-none"
            (change)="onSelectLifeType(healthCheck.checked, LifeType.Health)"
            [defaultChecked]="selectedLifeType.includes(LifeType.Health)"
            #healthCheck
          />
        </label>
        <label
          class="rounded-lg cursor-pointer shadow-md border text-[#494949] hover:border-[#2260ff] relative group flex-1 flex items-center justify-center"
          [ngClass]="
            friendCheck.checked ? 'border-[#2260ff]' : 'border-[#b5bfd9]'
          "
        >
          <div
            class="absolute w-5 h-5 rounded-full border-2 top-1 left-1 scale-0 opacity-0 transition-all group-hover:scale-100 group-hover:opacity-100 flex items-center justify-center"
            [ngClass]="
              friendCheck.checked
                ? 'bg-[#2260ff] text-white border-[#2260ff] scale-100 opacity-100'
                : 'border-[#b5bfd9]'
            "
          >
            {{ friendCheck.checked ? "✓" : "" }}
          </div>
          <div>貴人</div>
          <input
            type="checkbox"
            class="hidden appearance-none"
            (change)="onSelectLifeType(friendCheck.checked, LifeType.Friend)"
            [defaultChecked]="selectedLifeType.includes(LifeType.Friend)"
            #friendCheck
          />
        </label>
        <label
          class="rounded-lg cursor-pointer shadow-md border text-[#494949] hover:border-primary relative group flex-1 flex items-center justify-center"
          [ngClass]="
            wealthCheck.checked ? 'border-[#2260ff]' : 'border-[#b5bfd9]'
          "
        >
          <div
            class="absolute w-5 h-5 rounded-full border-2 top-1 left-1 scale-0 opacity-0 transition-all group-hover:scale-100 group-hover:opacity-100 flex items-center justify-center"
            [ngClass]="
              wealthCheck.checked
                ? 'bg-[#2260ff] text-white border-[#2260ff] scale-100 opacity-100'
                : 'border-[#b5bfd9]'
            "
          >
            {{ wealthCheck.checked ? "✓" : "" }}
          </div>
          <div>財富</div>
          <input
            type="checkbox"
            class="hidden appearance-none"
            (change)="onSelectLifeType(wealthCheck.checked, LifeType.Wealth)"
            [defaultChecked]="selectedLifeType.includes(LifeType.Wealth)"
            #wealthCheck
          />
        </label>
      </div>
    </div>

    <div class="hidden sm:block">
      <div class="font-bold mb-2 text-mobileSubTitle sm:text-desktopSubTitle">
        介紹:
      </div>
      <div class="flex flex-col gap-4 justify-center">
        <div
          class="group relative hover:h-[300px] h-[100px] w-full flex flex-col rounded-md shadow-md cursor-pointer overflow-hidden transition-all bg-[url('/assets/images/health.jpg')] bg-cover bg-no-repeat bg-center before:content-[''] before:absolute before:inset-0 before:block before:bg-gradient-to-b before:from-black before:via-slate-300 before:to-black before:opacity-0 hover:before:opacity-50 before:z-[-5] z-10"
        >
          <div class="absolute w-full h-full flex flex-col justify-between">
            <div
              class="text-mobileTitle sm:text-desktopTitle leading-[30px] font-bold py-4 px-2 flex-none group-hover:text-white text-gray-500 flex justify-between"
            >
              什麼是生命力？
            </div>
            <div
              class="flex-1 w-auto flex flex-col p-2 text-white group-hover:visible invisible"
            >
              <div class="font-semibold my-4">
                為什麼推生命力？ 以字面上來說生命力就是要
              </div>
              <ul>
                <li>✨有韌性✨</li>
                <li>✨任何難關都打不倒✨</li>
                <li>✨讓我們有健康的身體✨</li>
                <li>✨同時也讓生活順利✨</li>
                <li>✨人與人之間的相處感情穩定✨</li>
                <li>✨也希望能夠順順利利的能夠獨當一面✨</li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="group relative hover:h-[300px] h-[100px] w-full flex flex-col rounded-md shadow-md cursor-pointer overflow-hidden transition-all bg-[url('/assets/images/relationship.jpg')] bg-cover bg-no-repeat bg-center before:content-[''] before:absolute before:inset-0 before:block before:bg-gradient-to-b before:from-black before:via-slate-300 before:to-black before:opacity-0 hover:before:opacity-50 before:z-[-5] z-10"
        >
          <div class="absolute w-full h-full flex flex-col justify-between">
            <div
              class="text-mobileTitle sm:text-desktopTitle leading-[30px] font-bold py-4 px-2 flex-none group-hover:text-white text-gray-500 flex justify-between"
            >
              什麼是貴人？
            </div>
            <div
              class="flex-1 w-auto flex flex-col p-2 text-white group-hover:visible invisible"
            >
              <div class="font-semibold my-4">
                貴人的部分會加上身分證的數字來分析
              </div>
              <ul>
                <li>✨加強讓自己生命中能夠幫助自己的人能更多一點✨</li>
                <li>✨有時候差臨門一腳成功，就需要「貴人」出現來幫忙相助✨</li>
                <li>✨機會也是一樣貴人會幫助自己製造出機會喔! ✨</li>
              </ul>
            </div>
          </div>
        </div>
        <div
          class="group relative hover:h-[300px] h-[100px] w-full flex flex-col rounded-md shadow-md cursor-pointer overflow-hidden transition-all bg-[url('/assets/images/wealth.jpg')] bg-cover bg-no-repeat bg-center before:content-[''] before:absolute before:inset-0 before:block before:bg-gradient-to-b before:from-black before:via-slate-300 before:to-black before:opacity-0 hover:before:opacity-50 before:z-[-5] z-10"
        >
          <div class="absolute w-full h-full flex flex-col justify-between">
            <div
              class="text-mobileTitle sm:text-desktopTitle leading-[30px] font-bold py-4 px-2 flex-none group-hover:text-white text-gray-500 flex justify-between"
            >
              什麼是財富？
            </div>
            <div
              class="flex-1 w-auto flex flex-col p-2 text-white group-hover:visible invisible"
            >
              <div class="font-semibold my-4">
                生命財富手鍊<br />價格會比較高價<br />因為財富就是要補好補滿👍🏻<br />
                所以尺寸是生命手鍊裡最大的14mm
              </div>
              <ul>
                <li>✨水晶越大能量越強✨</li>
              </ul>
            </div>
          </div>
        </div>
        <a
          [routerLink]="['/user-info-form']"
          class="group relative hover:h-[300px] h-[100px] w-full flex flex-col rounded-md shadow-md cursor-pointer overflow-hidden transition-all bg-[url('/assets/images/how_to_choice.jpg')] bg-cover bg-no-repeat bg-center before:content-[''] before:absolute before:inset-0 before:block before:bg-gradient-to-b before:from-black before:via-slate-300 before:to-black before:opacity-0 hover:before:opacity-50 before:z-[-5] z-10"
        >
          <div class="absolute w-full h-full flex flex-col justify-between">
            <div
              class="text-mobileTitle sm:text-desktopTitle leading-[30px] font-bold py-4 px-2 flex-none group-hover:text-white text-gray-500 flex justify-between"
            >
              不知道該如何選擇？
            </div>
            <div
              class="flex-1 w-auto flex flex-col p-2 text-white group-hover:visible invisible"
            >
              <div class="font-semibold my-4">參加推算</div>
            </div>
          </div>
        </a>
      </div>
    </div>
  </div>
  <div class="flex flex-col h-full px-4 pb-8 my-4 flex-1">
    @if (selectedLifeType.includes(LifeType.Health)) {
      <div class="flex flex-col w-full">
        <div
          class="w-full text-center py-3 my-3 rounded-lg font-bold text-mobileTitle sm:text-desktopTitle leading-8 tracking-[20px] bg-green-200 text-green-700 flex-none flex items-center justify-center"
        >
          生命力
        </div>
        <div class="w-full">
          <div
            class="grid max-[380px]:grid-cols-1 grid-cols-[repeat(2,minmax(125px,1fr))] sm:grid-cols-[repeat(3,minmax(100px,1fr))] sm:grid-cols-[repeat(auto-fill,minmax(200px,300px))] gap-2 sm:mx-4"
          >
            @for (item of healthCrystals$ | async; track item.id) {
              @if (item.id) {
                <app-crystal-product-card
                  [crystalId]="item.id"
                  [crystal]="item"
                  (goToDetail)="onGoToDetail(LifeType.Health, $event)"
                ></app-crystal-product-card>
              }
            }
          </div>
        </div>
      </div>
    }
    @if (selectedLifeType.includes(LifeType.Friend)) {
      <div class="flex flex-col w-full">
        <div
          class="w-full text-center py-3 my-3 rounded-lg font-bold text-mobileTitle sm:text-desktopTitle leading-8 tracking-[20px] bg-purple-200 text-purple-700 flex-none flex items-center justify-center"
        >
          貴人
        </div>
        <div class="w-full">
          <div
            class="grid grid-cols-[repeat(auto-fill,minmax(100px,200px))] sm:grid-cols-[repeat(auto-fill,minmax(200px,300px))] gap-4 mx-4"
          >
            @for (item of friendCrystals$ | async; track item.id) {
              @if (item.id) {
                <app-crystal-product-card
                  [crystalId]="item.id"
                  [crystal]="item"
                  (goToDetail)="onGoToDetail(LifeType.Friend, $event)"
                ></app-crystal-product-card>
              }
            }
          </div>
        </div>
      </div>
    }
    @if (selectedLifeType.includes(LifeType.Wealth)) {
      <div class="flex flex-col w-full">
        <div
          class="w-full text-center py-3 my-3 rounded-lg font-bold text-mobileTitle sm:text-desktopTitle leading-8 tracking-[20px] bg-yellow-200 text-yellow-700 flex-none flex items-center justify-center"
        >
          財富
        </div>
        <div class="w-full">
          <div
            class="grid grid-cols-[repeat(auto-fill,minmax(200px,300px))] gap-4 mx-4"
          >
            @for (item of wealthCrystals$ | async; track item.id) {
              @if (item.id) {
                <app-crystal-product-card
                  [crystalId]="item.id"
                  [crystal]="item"
                  (goToDetail)="onGoToDetail(LifeType.Wealth, $event)"
                ></app-crystal-product-card>
              }
            }
          </div>
        </div>
      </div>
    }
  </div>
</div>
