/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  font-family: "Spectral", "GenWanMin2";
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Spectral", "Noto Sans TC Variable", sans-serif;
}

// Material would influenced by tailwind
.mdc-notched-outline__notch {
  border-right: 0 !important;
}

@layer utilities {
  .writing-vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}
