/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;
@import "@fontsource-variable/noto-sans-tc";
@import "@fontsource/spectral";

body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: "Noto Sans TC Variable", "Spectral", sans-serif;
}

[lang="en"] {
  font-family: "Spectral", sans-serif;
}

// Material would influenced by tailwind
.mdc-notched-outline__notch {
  border-right: 0 !important;
}

@layer utilities {
  .writing-vertical {
    writing-mode: vertical-rl;
    text-orientation: upright;
  }
}

.menu-bank-container {
  border-radius: 8px !important;
  .mat-mdc-menu-content {
    padding: 0 !important;
  }
}
