<div class="rounded-md bg-white h-full py-2 overflow-hidden flex flex-col">
  <mat-tab-group
    (selectedTabChange)="onUpdateTab($event)"
    class="h-full overflow-auto flex flex-col"
  >
    <mat-tab label="女性" class="w-full h-full overflow-auto">
      <div class="flex flex-col gap-4 my-2 mx-4">
        @for (crystal of healthCrystals; track $index) {
          <app-updated-card
            [crystal]="crystal"
            (crystalChanged)="onUpdateCrystal($event)"
            (deletedId)="onDeleteCrystal($event)"
          ></app-updated-card>
        }
      </div>
    </mat-tab>
    <mat-tab label="男性"> Content 2 </mat-tab>
  </mat-tab-group>
  @if (loading$ | async) {
    <div class="w-full h-full flex items-center justify-center flex-1">
      <mat-spinner></mat-spinner>
    </div>
  }
</div>
