<div
  class="flex flex-col w-full h-full relative items-center overflow-x-hidden text-[#333333] pb-10 bg-background"
>
  <header
    class="w-full h-[100px] px-6 flex flex-col flex-none justify-center fixed z-20 text-white bg-primary bg-opacity-90 border-b border-slate-300"
  >
    <div class="flex w-full h-full items-center justify-between">
      <app-logo></app-logo>
      <div class="flex items-center">
        <a routerLink="home" class="mx-2">首頁</a>
        <hr class="w-[1px] h-[25px] bg-white rotate-45 block mx-5" />
        <a routerLink="select-crystals" class="mx-2">款式選擇</a>
        <hr class="w-[1px] h-[25px] bg-white rotate-45 block mx-5" />
        <a routerLink="" class="mx-2">開始測量</a>
        <!-- <div class="border-l w-1 h-6 border-black"></div> -->
        <button
          class="rounded-md p-3 ml-6 bg-highLight hover:bg-highLightHover font-bold"
        >
          登入
        </button>
      </div>
    </div>
  </header>
  <div class="flex-1 w-full flex justify-center pt-[100px]">
    <div class="flex flex-col h-full w-full">
      <div class="flex-none text-[24px] w-full leading-10 px-2">
        {{ pageTitle() }}
      </div>
      <div class="flex-1">
        <router-outlet
          (activate)="getRouterOutlet(outlet.activatedRoute)"
          #outlet="outlet"
        ></router-outlet>
      </div>
    </div>
  </div>
</div>
