<div class="flex flex-col w-full h-full">
  <header
    class="flex-none w-full h-[60px] border-b flex justify-between items-center px-4"
  >
    <app-logo></app-logo>
    <div class="space-x-2 flex items-center">
      <a class="">首頁</a>
      <a>生命密碼</a>
      <a routerLink="./select-crystals">款式選擇</a>
      <a>關於我們</a>
      <a>聯絡我們</a>
      <div class="border-l w-1 h-6 border-black"></div>
      <button class="rounded-md p-3 bg-slate-400 text-white">登入</button>
    </div>
  </header>
  <div class="flex-1">
    <router-outlet></router-outlet>
  </div>
</div>
