@if (user) {
  <div class="h-full flex flex-col">
    <div
      class="flex-none h-auto border-b flex items-center justify-center py-6"
    >
      <div class="aspect-video border w-[750px] flex p-1">
        <div class="flex-1 flex flex-col items-center">
          <div>Numerology</div>
          <hr class="w-[80%] border-t-2 border-black" />
          <div>生命密碼手練</div>
          <hr class="w-[60%] border-t-2 border-black" />
          <div class="flex gap-4">
            <div>{{ user.name }}</div>
            <div>生日:{{ user.birthday | date: "yyyy/MM/dd" }}</div>
          </div>
          <div
            class="w-full h-full flex flex-col items-center justify-center mt-2"
          >
            @for (
              row of [
                [1, 2, 3],
                [4, 5, 6],
                [7, 8, 9],
                [-1, 0, -1]
              ];
              track row
            ) {
              <div class="flex w-full justify-center">
                @for (num of row; track num) {
                  <div
                    class="relative flex items-center justify-center w-10 h-10 p-10"
                  >
                    {{ num < 0 ? "" : num }}
                    @if (innateCounts.has(num)) {
                      <div class="absolute flex items-center top-1 left-1">
                        <mat-icon
                          fontIcon="circle"
                          class="text-[12px] text-[#fcf32e]"
                          style="width: 12px; height: 12px"
                        ></mat-icon>
                        <mat-icon
                          fontIcon="close"
                          class="text-[13px] text-gray-500 !w-[12px] !h-[12px]"
                        ></mat-icon>
                        <div class="text-[12px] leading-[10px]">
                          {{ innateCounts.get(num) }}
                        </div>
                      </div>
                    }
                    @if (acquiredCounts.has(num)) {
                      <div class="absolute flex items-center top-1 right-1">
                        <mat-icon
                          fontIcon="change_history"
                          class="text-[12px] text-gray-500 !w-[12px] !h-[12px]"
                        ></mat-icon>
                        <mat-icon
                          fontIcon="close"
                          class="text-[13px] text-gray-500 !w-[12px] !h-[12px]"
                        ></mat-icon>
                        <div class="text-[12px] leading-[10px]">
                          {{ acquiredCounts.get(num) }}
                        </div>
                      </div>
                    }
                    @if (lifePassport?.mainNumber === num) {
                      <div
                        class="absolute flex items-center justify-center border-2 rounded w-7 h-7"
                      ></div>
                    }
                  </div>
                }
              </div>
            }
          </div>
        </div>
      </div>
    </div>
    <div>
      <ul class="space-y-1 pl-3">
        @for (review of lifeReview | keyvalue; track review) {
          <li>{{ review.key }}: {{ review.value }}</li>
        }
      </ul>
    </div>
  </div>
}
